.button {
	display: inline;

	font-weight: 400;
	font-size: 14px;
	line-height: 14px;
	font-size: 0.875rem;
	text-align: center;

	padding: 10px;
	cursor: pointer;

	border: none;
	border-radius: 5px;
	transition: all 0.2s linear;
}
.primary {
	background-color: var(--primary);
	color: var(--white);
	&:hover {
		background-color: var(--primary-hover);
	}
	svg {
		fill: var(--white);
	}
}
.ghost {
	background-color: transparent;
	border: 1px solid var(--gray-light);
	&:hover {
		background-color: var(--gray-light);
		border-color: var(--black);
	}
}

.arrow {
	display: inline;
	margin-left: 10px;
	fill: var(--black);
	transition: all 0.2s linear;
	&__down svg {
		transform: rotate(90deg);
	}
}
