.tag {
	display: inline;
	font-style: normal;
	font-weight: 700;
	font-size: 0.7rem;
	line-height: 16px;
	border-radius: 20px;
	padding: 3px 7px;
}
.green {
	background-color: var(--green);
	color: var(--dark-green);
}
.red {
	background-color: var(--red);
	color: var(--white);
}
.primary {
	padding: 2px 6px;
	border: solid 1px var(--primary);
	color: var(--primary);
}
.ghost {
	padding: 2px 6px;
	border: solid 1px var(--gray-light);
	color: var(--black);
}
